.log{ border: 1px solid black;
    border-radius: 10vh;
width: 30px;
position: relative;
background-color: aqua;
bottom: -40px;
left:90px;



}
.log2{
    border: 1px solid black;
    width: 70px;
    position: absolute;
    background-color: rgb(201, 214, 14);
    left: 30px;
    
     
}