div{
    
    height:80vh;
    /* height:500px; */
    /* width:500px; */
}
.bg{
    /* background-image: url('./kitten.jpg'); */
    /* background-image: url('https://www.scotsman.com/webimg/b25lY21zOmE1YmU2Yzc1LTJlZjQtNDAzOS04ZjEwLTcwOWZjZDBiOTA4ZDo5NGIwOTI5OC0xZGEwLTQwZjYtOWY2Ni0xZTJkMmVjMzFhZDM=.jpg?crop=3:2,smart&width=640&quality=65&enable=upscale'); */
    /* background-image:url('https://w0.peakpx.com/wallpaper/488/74/HD-wallpaper-deer-with-background-of-tree-and-sunrise-animals.jpg'); */
    background-image:url('https://hips.hearstapps.com/hmg-prod/images/sunrise-quotes-21-1586892331.jpg')  ;
     /*default property of background-repeat is repeat*/
    background-repeat: no-repeat;
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
    /* background-size: 100% 100%; */
    /* background-size: -500px -300px; */
    /* background-size: 70% auto; */
    /* background-size: cover; */
    /* background-size: auto; */
    /* background-size: 300px auto; */
    /* background-size: contain; */
    /* background-size: cover; */
}