label{color: darkslateblue; padding: 10px; border: 10px;}

h1{color: lightcoral; padding: 20px;}

#Button{background-color: floralwhite; padding: 5px;}
#message{background-color: paleturquoise; padding: 20px;}
h2{color: rgb(243, 11, 224); border-block-end: solid; padding:10px;}
.keerti{color: rgb(223, 72, 46);}