.flex-container{
    display: flex;
    align-items: baseline;
}
.item{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(96, 43, 149);
}
.flex-container .item:last-child{
    font-size: 30px;
}