*{
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: hsla(0, 48%, 71%, 0.3);
}

h1{
  position: sticky;
  top: 0px;
  background-color: hsla(192, 94%, 51%, 0.473);
text-align: center;
font-size: 50px;
padding: 20px;
color: rgb(56, 34, 34);
}

.main{
  display: flex;
  flex-wrap: wrap;
justify-content: space-evenly;
margin-top: 50px;
row-gap: 40px;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 800px;
  height: 500px;
  background-color: lightsalmon;

}

.flex-shrink{
  border: 1px solid black;
  width: 250px;
  height:250px ;
  font-size: 20px;
  background-color: lightcyan;
}

.flex-container-row-reverse{
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid black;
  width: 800px;
  height: 500px;
  background-color: lightsalmon;
  
}

.flex-container-column{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 700px;
  height: 700px;
  background-color: lightsalmon;

}

.flex-container-column-reverse{
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid black;
  width: 700px;
  height: 700px;
  background-color: lightsalmon;

}

.shrink-1{
  flex-shrink: 1;
}

.shrink-2{
  flex-shrink: 2;
}

.shrink-3{
  flex-shrink: 3;
}

.shrink-4{
  flex-shrink: 4;
}

.shrink-5{
  flex-shrink: 5;
}

hr{
  border: 2px solid black;
  margin-top: 30px;
}