.container{
    border:5px solid saddlebrown;
    margin: 50px;
}
.item{
    background-color: cornflowerblue;
    border: 2px solid indigo;
}
.p-height{
    height:100px;
}
.p-min-height{
    min-height:100px;
}
.p-max-height{
    max-height:100px;
}

.h-50{
    height:50px;
}
.h-150{
    height:150px;
}